@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;

}

* {
    margin: 0px;
    padding: 0px; 
    font-size: 1em;
    
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1 {
    font-size: 10vw;
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font3);
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: aliceblue;
}


section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.637);
}
section#img01 {
    background-position: right center;
    
    background-image: url(background001.jpg);
}

section#img02 {
    background-size: cover;
    background-image: url(background002.jpg);
}




footer {
    font-family: var(--fonte1);
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}